a
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	color: #D0D0F8;
}

input[type="email"]
{
	color: #4040A1;
	border:2px solid #dadada;
    border-radius:7px;
}

input[type="email"]:focus 
{ 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #D7E9F8;
}

input[type="password"]
{
	color: #4040A1;
	border:2px solid #dadada;
    border-radius:7px;
}

input[type="password"]:focus
{
	outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #D7E9F8;
}

input[type = "submit"]
{
	cursor: pointer;
	padding: 5px 8px;
	background-color: #BEBEF5;
	border: 0;
	border-radius: 7px;
	color: white;
}

input[type = "submit"]:hover
{
	cursor: pointer;
	padding: 5px 8px;
	background-color: #D7E9F8;
	border: 0;
	border-radius: 7px;
	color: white;
}



#user_bar
{
	width: 84em;
	height: 3.66em;
	background-color: #5C5CE6;
}

#ltext
{
	font-size: 0.8em;
	color: #BEBEF5;
}
